<header class="bg-white shadow-md py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-gray-800"
      >Donation Tracking System</a
    >
    <nav class="flex items-center">
      {% if user.is_authenticated %}
      {% if user.profile.role == 'Admin' %}
      <a
        href="{% url 'dashboard' %}"
        class="bg-yellow-600 text-white py-2 px-4 rounded hover:bg-blue-700 mr-2"
        >Analytics</a
      >
      {% endif %}
      <a
        href="{% url 'cause_list' %}"
        class="bg-purple-600 text-white py-2 px-4 rounded hover:bg-blue-700 mr-2"
        >Causes</a
      >
      <span class="text-gray-700 mr-2">Welcome, {{ user.username }}</span>
      <a
        href="{% url 'logout' %}"
        class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700"
        onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
      >
        Logout
      </a>
      <form
        id="logout-form"
        action="{% url 'logout' %}"
        method="post"
        style="display: none"
      >
        {% csrf_token %}
      </form>
      {% else %}
      <a
        href="{% url 'login' %}"
        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 mr-2"
        >Login</a
      >
      <a
        href="{% url 'signup' %}"
        class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700"
        >Sign Up</a
      >
      {% endif %}
    </nav>
  </div>
</header>
