{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Donation Tracking System</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'main.js' %}"></script>
  </head>
  <body class="bg-gray-100">
    {% include 'header.html' %}
    <div class="container mx-auto my-8 p-4">
      {% if user.profile.role == 'Admin' %}
      <div class="w-full flex justify-between px-4 items-center">
        <h2 class="text-2xl font-bold mb-6">Causes</h2>
        <a
          href="{% url 'create_cause' %}"
          class="flex items-center bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            />
          </svg>
          create
        </a>
      </div>
      {% else %}
      <h2 class="text-2xl font-bold mb-6 text-center">Causes</h2>
      {% endif %}
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for cause in causes %}
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <a href="{% url 'cause_detail' cause.pk %}">
            <img
              src="{{ cause.banner_image.url }}"
              alt="{{ cause.name }}"
              class="w-full h-48 object-cover rounded-t-lg mb-4"
            />
          </a>
          <div class="flex flex-col justify-between">
            <div>
              <a href="{% url 'cause_detail' cause.pk %}">
                <h3 class="text-xl font-bold mb-2 hover:underline">
                  {{ cause.name }}
                </h3>
              </a>
              <p class="text-gray-700 mb-2">{{ cause.tagline }}</p>
              <p class="text-gray-600 mb-2">
                {{ cause.description|truncatewords:20 }}
              </p>
              <p class="text-gray-500">
                Donations: {% if cause.total_donations %}${{ cause.total_donations }}{% else %}$0{% endif %}
              </p>
              {% now "Y-m-d" as todays_date %}
              {% if user.profile.role == 'Admin' %}
              <div class="flex mt-2 space-x-2">
                <a
                  href="{% url 'cause_update' cause.pk %}"
                  class="flex items-center bg-yellow-500 text-white py-2 px-4 rounded hover:bg-yellow-700"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 mr-2"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 4v16m8-8H4"
                    />
                  </svg>
                  Update
                </a>
                <a
                  href="{% url 'cause_delete' cause.pk %}"
                  class="flex items-center bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 mr-2"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                  Delete
                </a>
              </div>
              {% elif todays_date < cause.end_date|date:"Y-m-d" %}
              <div class="flex mt-2 space-x-2">
                <button
                  data-id="{{ cause.pk }}"
                  class="flex items-center bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 donation-btn"
                >
                  Donate
                </button>
              </div>
              {% else %}
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
